body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #375e97;
  font-size: 2em;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-bottom: 2px dashed #3f3797;
}

h2 {
  font-size: 1.5em;
}

.job-title {
  color: #999999;
  font-size: 1.2em;
  font-weight: bold;
}

a:link,
a:visited {
  color: #fb6542;
}

a:hover {
  text-decoration: none;
}
ul {
  padding: 10px 50px;
  border: 3px solid #fb6542;
  width:fit-content
}