/* || general styles */

html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

header {
  font-weight: bold;
  //text-align: center;
}

body {
  width: 800px;
  margin: 0 auto;
}

h1, h2 {
  font-family: 'Faster One', cursive;
}

/* header styles */

h1 {
  font-size: 2rem;
  text-align: center;
}

h2  {
  font-size: 1rem;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

label {color:blue;
font-weight: bold;}
input[type="date"] {margin-right: 1.5em}
label[for="session2"] {margin-left: 1em}
/* section styles */

section article {
  width: 16%;
  float: left;
}
article {
  border-right:  solid 1px;
  border-bottom: green dashed 1px;
}

section p {
  font-size: 1rem;
  margin: 5px 0;
}

section ul {
  margin-top: 0;
}

* {
  box-sizing: border-box;
}

ul {
  padding-left: 0;
}

li {
  display: block;
  float: left;
  width: 25%;
  border: 2px solid white;
  padding: 5px;
  height: 40px;
  background-color: #4a2db6;
  color: white;
}