p {
  color: red;
}
html {

  /* px means "pixels". The base font size is now 10 pixels high */

  font-size: 30px;

  /* Replace PLACEHOLDER with the font-family property value you got from Google Fonts */

  font-family: "Noto Sans TC", sans-serif;

}